#head{
	float:top;
	width:200px; 
	height:100px;	
	
}
#head_text{
	float:top;
	font-size:30px;
	font-family:Arial;
	color:red;
}
#menu{
	
}
#main{
	margin-left:300px;
}
#mainHeader{
	
}
.bottom{	
	margin:0 auto;	
}
.table{
	background-color: green;
	border-style:solid;
	border-width:1px;
	border-color:#ffffff;
	
	border:1px double black;
	border-collapse: collapse;
}
.table td{
	border-color:#ffffff;
	border:1px solid black;
}
.table th{
	padding:10px;
	border-color:#000000;
	border:1px solid black;
}
.table tr{
	padding:10px;
	border-color:#ffffff;
	border:1px solid black;
}

body{
	margin:0 auto;
	background-color: blue;
	}
